
.container {
    position: absolute;

    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1500px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #41644A;

    border-radius: 20px;

    overflow: hidden;
}

.img_container {
    position: relative;

    width: 300px;
    height: 300px;

    overflow: hidden;
}




.group_container {
    position: relative;

    width: 100%;

    min-height: 500px;

}

.group_header {
    width: 98%;

    max-height: 100px;

    padding: 0 1%;

    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #E86A33;
}

.group_title {
    width: 20%;

    display: flex;
    align-items: center;

}

.group_img_container {
    position: relative;

    width: 50px;
    height: 50px;

    margin-right: 20px;

    border-radius: 50%;

    overflow: hidden;
}

.group_img {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 110%;
}

.group_name {
    font-size: 25px;
    color: #263A29;
}

.group_nav_bar {

}

.group_nav_btn {

    color: #263A29;
    font-size: 20px;

    background: none;
    border: none;

    cursor: pointer;

    transition: all .2s;
}

.group_nav_btn:hover {
    color: #41644A;
}

#group_nave_delete_btn:hover {
    color: #b40d0d;
}






.group_post_list {
    position: relative;

    width: 100%;

    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
}

 .parsed_post {
    width: 40%;

    height: 610px;
    
}



.parsed_img_list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 5px;

    grid-auto-rows: minmax(200px, auto);

    border-radius: 10px;

    overflow: hidden;
}

.parsed_img_container {
    position: relative;

    overflow: hidden;

}

.post_img {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 130%;

}

.--3 {
    grid-template-columns: repeat(4, 1fr);

    grid-auto-rows: minmax(150px, auto);
}

.--3 li:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}

.--3 li:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.--3 li:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

