.palet {
    color: #F2E3DB;
    color: #41644A;
    color: #263A29;
    color: #E86A33;

    color: #263a293a;
}

body {

    background-color: #F2E3DB;

    font-family: 'Montserrat Alternates', sans-serif;
}

.shadow {
    box-shadow: 2px 10px 20px #263a293a;
}


.main_header {
    position: fixed;

    top: 0;
    left: 50%;

    transform: translate(-50%, 0);

    width: 99%;
    height: 10%;


    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #41644A;

    border-radius: 0 0 20px 20px;

    
}

.nav_bar_container {
    position: relative;

    width: 95%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main_nav_bar {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 30px;

    
}

.nav_bar_item {
    color: #F2E3DB;

    transition: all .2s;
}

.nav_bar_item:hover {
    color: #263A29;
}


.main_logo {
    padding: 10px;
    
    font-size: 30px;
    color: #263A29;

    border-radius: 50%;

    transition: all .3s;
}

.main_logo:hover {

    color: #41644A;

    background-color: #263A29;
}

