.container {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;

    padding: 3%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #41644A;

    border-radius: 15px;
}

.img_container {
    position: relative;

    width: 300px;
    height: 300px;

    overflow: hidden;
}

.post_img {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 105%;
}