{% extends 'main/main.html' %}
{% load static %}


{% block styles %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock styles %}

{% block main %}

    <div class="container shadow">

        <div class="group_container">

            <div class="group_header">
                <div class="group_title">
                    <div class="group_img_container">
                        <img class="group_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="fwefwwf">
                    </div>
                    <h2 class="group_name">Lorem fwefwe </h2>
                </div>
                <div class="group_nav_bar">
                    <button class="group_nav_btn" id="group_nave_hide_btn"><i class="fa-solid fa-eye"></i></button>
                    <button class="group_nav_btn" id="group_nave_delete_btn"> <i class="fa-regular fa-trash-can"></i></button>
                </div>
            </div>

            <ul class="group_post_list">

                <li class="parsed_post">

                    <ul class="parsed_img_list">
                        <li class="parsed_img_container">
                            <img class="post_img" src="https://sun4-17.userapi.com/impg/9HPPmpqFBOAfg5ptAWVykZpetBrWup0Ogd-UpA/8sFEVC-FbEM.jpg?size=1080x1325&quality=95&sign=8c94a0274a00117ec3f1082e7e8edf23&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container">
                            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container">
                            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container">
                            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container">
                            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container">
                            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container">
                            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container">
                            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container">
                            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">
                        </li>
                    </ul>

                </li>
    
                <li class="parsed_post">

                    <ul class="parsed_img_list --3">
                        <li class="parsed_img_container ">
                            <img class="post_img" src="https://sun4-17.userapi.com/impg/9HPPmpqFBOAfg5ptAWVykZpetBrWup0Ogd-UpA/8sFEVC-FbEM.jpg?size=1080x1325&quality=95&sign=8c94a0274a00117ec3f1082e7e8edf23&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container ">
                            <img class="post_img" src="https://sun4-17.userapi.com/impg/m_hJkhK3KR09Q2b0Lq7_k4hX63B49amBzyMsqw/Bnh1mNo81Kc.jpg?size=1080x1325&quality=95&sign=7a4b77aa4206957a379b1b25a410974d&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container ">
                            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">
                        </li>
                    </ul>

                </li>

                <li class="parsed_post">

                    <ul class="parsed_img_list --3">
                        <li class="parsed_img_container ">
                            <img class="post_img" src="https://sun4-17.userapi.com/impg/9HPPmpqFBOAfg5ptAWVykZpetBrWup0Ogd-UpA/8sFEVC-FbEM.jpg?size=1080x1325&quality=95&sign=8c94a0274a00117ec3f1082e7e8edf23&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container ">
                            <img class="post_img" src="https://sun4-17.userapi.com/impg/m_hJkhK3KR09Q2b0Lq7_k4hX63B49amBzyMsqw/Bnh1mNo81Kc.jpg?size=1080x1325&quality=95&sign=7a4b77aa4206957a379b1b25a410974d&type=album" alt="#">
                        </li>
                        <li class="parsed_img_container ">
                            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">
                        </li>
                    </ul>

                </li>
    
            </ul>

        </div>



<!--        <div class="img_container">-->
<!--            <img class="post_img" src="https://sun4-21.userapi.com/impg/CcsZxpThX9LpJ9qd0e8dlvQW7cI5SVN6C3D77g/CDTuNKoto38.jpg?size=564x547&quality=95&sign=7f0f97c0d4289e2fe5c288524f57b9be&type=album" alt="#">-->
<!--        </div>-->
    
    </div>

{% endblock main %}
